<!DOCTYPE html>
<html>
  <head>
    <title>BookersDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  
  <body>
    <h1>ようこそ <b>Bookers</b> へ！</h1>
    
    <p><b>Bookers</b> では様々な書類に関するあなたの意見や</p>
<p>印象を交換して共有することができます。</p>
<div class="start">
<a href='/books'>strat</a>
</div>
    
    
  </body>
  
  
  </html>